h1, h2, h3, p, ul, ol {
	
	margin: 0;
	padding: 0;
}

nav ul, nav ol {
	
	list-style-type:none;
}

img {
	
	max-width: 100%;
	height: auto;
	display: block;
}

body {
    background: rgba(210, 165, 152, 0.57);
    padding: 20px;
}

header {
    color: #D74C07;
    font-family: Allerta;
    
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
    position: relative;
    margin: 0px 30px;
    }

header h1 {
    align-self: flex-start;
    margin: 0;
    position: absolute;
    top: 10;
    font-size: 5em;
    padding: 0px 30px;

    
}
header h2 {
    align-self: flex-end;
    margin: 30px 30px 60px 60px;
    position: absolute;
    top: 100px;
    font-family: "Allerta Stencil";
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

h3 {
    color: #1E1E1E;

font-family: "Baloo Bhai 2";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


main {
    display: flex;
   flex-wrap: wrap;

}


article {
    padding: 50px;
    max-width: 900px;
    border-radius: 100px;
    background: rgba(168, 207, 225, 0.44); 
    margin: 50px  30px;
    box-sizing: border-box;
    min-width: 50; 
    
    
    
    
}

h3 {
    margin: 5px;
}

article p, ol, li {
    line-height: 150%;
    color: #1E1E1E;

    font-family: "Baloo Bhai 2";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

article ol {
    margin: 10px;
}

article a {
    text-decoration: none;
    color: #c04406;
    

}

article a:hover {
    color: rgb(41, 127, 168);
}

.strong {
    font-weight: 600;
}

.two {

    background-color: rgb(251, 239, 224);
}

time {

    background-color:  #fbfcff;
    border-radius: 20px;
    padding: 7px;
    flex-shrink: 0;
    font-family: "Baloo Bhai 2";
    font-size: 0.75em;
    color: #483328f8;
    margin: 0px 0px 500px;

}

